    
   
   
   #about {
       
       .container {
           
           margin-top: 100px;
           margin-bottom: 70px;
           
            #titlerow {
                border: solid red;
            }
            #photoandservicerow {
                
                border: solid red;
                #photocol{
                    border: solid red;
                   
                    
               }

                #servicecol {
                    border: solid red;
                    .row {border: solid red;
                        .col {border: solid red;}
                    }

               }
           }

           #aboutrow {
            height: 300px;  
            border: solid red;
            overflow-y: scroll;
           }
       }
   }
   
   
   
   /*// self closing div for spacing
    #about {
        //background-color: $background-color2;
        
    }

    //section
    #aboutsection {
        min-height: 100vh;
        background-color: $background-color2;
        


        #aboutdiv {
            position: relative;
            #textabout {
                font-weight: normal;
                color: $first-color;
            }
            .underlined::after {
                content: "";
                position: absolute;
                top: 95%;
                height: 5px;
                width: 90px;
                background-color:$first-color;
                animation-name: tracing;
                animation-duration: .5s;
            }
            @keyframes tracing {
                from {width: 0px}
                to {width: 90px;
                }
            }
        }
        
        

        #whoiamdiv {

            #whoiamsquare {
                position: absolute;
                height: 150px;
                width: 150px;
                background-color: $first-color;
            }

            #textwhoiam {
                //layout
                position: relative;
                top: 0%;
                
                padding: 25px;

                //style
                color: $first-color;
            }

            
            
    
            .animated {
                animation-name: appearing;
                animation-duration: .5s;
                animation-delay: .2s;
                animation-fill-mode: forwards;
            }

            @keyframes appearing {
                from {left: -500%}
                90% {
                    transform: skew(30deg)
                }
                to {left: 0%;
                    transform: skew(0deg);}
            }
        }
        

        #infos {
            #willpiccol{

            }
            #infotextcol{
                p {
                    //layout
                    
                    height: 200px;
                    padding: 20px;
                    margin-top: auto;
        
                    //style
                    
                    
                    //animation
                    
                }
            }
            
            .infoappears {
                opacity: 0;
                animation: fadeinanim ease 1s;
                animation-delay: .8s;
                animation-fill-mode: forwards;
                
            }

            @keyframes fadeinanim {
                from {opacity: 0;}
                to {opacity: 1;}
            }
    
        }

        #whatidodiv {
            #textwhatido {
                //layout
                position: relative;
                top: 0%;
                left: -500%;
                padding: 25px;
                
                //style
                color: $first-color;
                
            }
    
            .animated {
                animation-name: appearing2;
                animation-duration: .5s;
                animation-delay: .2s;
                animation-fill-mode: forwards;
                
            }

            @keyframes appearing2 {
                from {left: -500%;
                    }
                
                90% {
                    transform: skew(30deg)
                }
               
                to {left: 0%;
                    transform: skew(0deg);
                }
            }

            .animated {
                left: 0%;
            }
            
        }

        
               
        

    }
   
 
/* --------Responsive design--------------------------*/
/*
// -------- Pic and textbox 

    
        @media (min-width: 576px) {
            
        }

        @media (min-width: 768px) {
            
        }

        @media (min-width: 992px) {
            
            
        }

        @media (min-width: 1200px) {
            
            #beforewhatido {
                height: 160px;
            }
            // textbox
            #aboutsection {
                #infos {
                    #willpiccol {
                        #willpicdiv {
                            img {
                                
                                height: 350px;
                                width: 350px;
                                
                            }
                            
                        }

                        
                    }
                    #infotextcol{
                        
                        position: relative;
                        p {
                            //layout
                            width: 600px;
                           
                            

                            //style
                            
                        }
                    }
                }
            }




        }
       
*/
    

