
//---------- PORTFOLIO ---------------------------------

#portfolio {
    .container {
        margin-top: 100px;
        margin-bottom: 70px;

        
    }
}
#portfoliotitlep2 {color: $titleonbackground}



//---------- CARDS ---------------------------------

// RESPONSIVENESS


.card {

        // ----- Size --------//
        width: 420px;
        height: 420px;
        //900px or less
        
        //900px or less
        @media (max-width: 900px) {
            width: 360px;
            height: 360px;
        }
        //570px or less
        @media (max-width: 570px) {
            width: 350px;
            height: 350px;
        }
        //450px or less
        @media (max-width: 450px) {
            width: 300px;
            height: 300px;
        }
        //375px or less
        @media (max-width: 380px) {
            width: 300px;
            height: 300px;
        }
        //360px or less
        @media (max-width: 360px) {
            width: 240px;
            height: 240px;
        }
        //300px or less
        @media (max-width: 300px) {
            width: 180px;
            height: 180px;
        }



    .card-img-top {}
    .card-img-overlay {

        // default : dark on smartphones
        background: rgba(240, 240, 240, 0.6);

        //laptops : gradient 
        @media (hover: hover) and (pointer: fine) {
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4)20%, rgba(1, 44, 236, 0.4) 100%);     
        }
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4)20%, rgba(1, 44, 236, 0.4) 100%);     

    }
    .card-body {
        @media (hover: hover) and (pointer: fine){
            top: -100%;
        }
        top: -100%;
        @media (max-width: 300px) {
            font-size: .7rem;
            margin: 0;
        }

        .card-title {}
        .card-subtitle {
            margin-bottom: 10px;
            @media (min-width: 700px) {
                margin-bottom: 50px;
            }
            @media (min-width: 900px) {
                margin-bottom: 100px;
            }
        }

        .card-text {
            
        }

        .btn {
            @media (max-width: 300px) {
                font-size: .5rem;
                height: 20px;
                padding: 0;
                margin: 0;
            }
            @media (min-width: 570px) {
                //margin-top: 40px;
            }
        }

        .btn:hover {}
    }
}

// card::before - the white overlay - is hidden
.card::before {
    top: 120%;
}

// on laptop when hovered card::before appears from bottom to top
.card:hover::before{ 
    top: 0%;
}

// on laptop when hovered card-body appears lower then for all screens
.card:hover .card-body {
    @media (hover: hover) and (pointer: fine){
        top: 10px;
    }
    top: 0px;
}





//-------- LAYOUT
.card {
    position: relative;
    .card-img-top {}

    .card-img-overlay {}

    .card-body {
        z-index: 2;
        left: 0;
        width: 100%;
        padding: 20px 20px 0 20px;
        position: absolute;
        .card-title {}
        .card-subtitle {}
        .card-text {}
        .btn {width: 150px;}
        .btn:hover {}
    }
}

.card::before {
    position: absolute;
    content: "";
    width: 160%;
    height: 220%;
    z-index: 1;
}




//-------- STYLE
.card {
    border-radius: 12%;
    // hide the card::before part
    overflow: hidden;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4)20%, rgba(1, 44, 236, 0.4) 100%);     
    

    .card-body {
        
        transition: .5s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


        .card-title {
            font-size: 1.8rem;
            color: $first-color; 
            text-align: center;
            
        }

        .card-subtitle {
            color: $second-color;
            
            
        }

        .card-text {
            color: $first-color;
            font-size: 1rem;
            text-align: center;
        }

        .btn {
            font-size: 1.1rem;
            background-color: $first-color;
            border: solid $first-color thin;
            color: $titleonbackground;
        }
        .btn:hover {
            background-color: $background-color1;
            color: $first-color;
            border: solid #ffffff thin;
        }
    }
}
.card::before {
    background: rgba(240, 240, 240, 0.7);
    transform-origin: center top 0;
    transition: .5s;
}





