html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*
colors for test
#041425
#163e66
#0c2b4b
#255a8e
#5694d0
#040406
#1876d4


*/

$first-color : #163e66;
$second-color: #4072a3;
$third-color: #a5caee;

$background-color1 : white ;
$background-color2 : rgba(198, 228, 255, 0.2);

$titleonbackground : rgb(236, 236, 236);
$titleoncolor : #163e66;

$subtitle-color : #515151;
$socialiconscolor : black;
$socialiconscolorhover: white;

.spacingdiv {
    height: 10vh;
}




@import "./navbar";

@import "./squares";



@import "./landing";

@import "./about";

@import "./projects";

@import "./contact";

.display-1 {
    color : $titleonbackground;
}
#nav-bar {
    z-index: 100000;
    
}

#variablecontainer {
    overflow-y: hidden;
    height: 100vh;
    position: relative;

}
article.visible {
    
    height: 100vh;
    overflow-y: scroll;
    
    transform: perspective(1500px);

    .container {
        animation-name: test;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        transition: all ease-in-out .5s;
    }
}



@keyframes test {
    from {opacity: 0;
        }
    to {opacity: 1;;
        }
}

#home {display: none;}
#about {display: none;}
#portfolio {display: none;}
#contact {display: none;}
#home.visible {display: flex;}
#about.visible {display: block;}
#portfolio.visible {display: block;}
#contact.visible {display: block;}




