html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*
colors for test
#041425
#163e66
#0c2b4b
#255a8e
#5694d0
#040406
#1876d4


*/
.spacingdiv {
  height: 10vh;
}

/* --------- NAVBAR SECTION------------------------------*/
#nav-bar {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  z-index: 1999;
  width: 100%;
  -webkit-box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
          box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
}

#nav-bar nav #navcontainer #will {
  font-family: 'Satisfy', cursive;
}

#nav-bar nav #navcontainer button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink {
  position: relative;
  overflow: hidden;
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  text-align: center;
  z-index: 2000;
}

@media (min-width: 575px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
    padding: 0 25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 150%;
    height: 0%;
    z-index: 1;
    -webkit-transition: .6s;
    transition: .6s;
  }
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link:hover::before {
    height: 100%;
  }
}

#nav-bar {
  height: 70px;
  padding: 20px;
}

#nav-bar nav #navcontainer #will {
  color: white;
}

#nav-bar nav #navcontainer button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  color: white;
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

#nav-bar.sticky {
  height: 50px;
  padding: 0px;
  background-color: white;
}

#nav-bar.sticky nav #navcontainer {
  background-color: white;
}

#nav-bar.sticky nav #navcontainer #will {
  color: #163e66;
}

#nav-bar.sticky nav #navcontainer button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 62, 102, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  color: #163e66;
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    background-color: rgba(26, 62, 102, 0.2);
  }
  #nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link:hover::before {
    height: 100%;
  }
}

/*
#nav-bar {
    background-color: none;//$background-color1;
    
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
    
    
    
    

    .navbar-toggler{
        border: none;
        border-radius: 0%;
        

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
    
    .navbar-toggler:hover{
        border: none;
        border-radius: 0%;
        color: $titleonbackground;
    }

    .navbar-toggler:focus {
        box-shadow: none;


    }
}


.divlink {
    position: relative;
    width: 80px;
    text-align: center;
    font-size: 1.1rem;
    margin: auto;
    
    .nav-link {
        overflow: hidden;
        position: relative;
       
        
        @media (min-width: 575px) {
            padding: 0 15px 0 15px;
            
        }

        z-index: 2;
        
        
    }
    
    .nav-link::before {
        //layout
        content: "";
        position: absolute;
        width: 150%;
        height: 0%;
        bottom: 0px;
        left: -15px;
    
        //style
        background-color: $background-color1;
        transition: all ease-in-out .25s;
        
        z-index: -1;
        
    
    }
    
    .nav-link:hover::before {
        //layout
        
        @media (min-width: 575px) {
            height: 15%;
            
        }
        
        
    }

    
}



#will {
    color: $titleonbackground;
    font-family: 'Satisfy', cursive;
}


// when nav is in sticky mode 

nav.sticky {
    background-color: $background-color1;
    height: ;
    nav.sticky.nav-link {
        color: $first-color;
        
    }

    #will {
        color: $first-color;
        
    }
    
    
} 

*/
.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: #163e66;
  opacity: .5;
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

article#home {
  color: white;
}

article#home .container .row .col-lg button#getintouch {
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: solid #ececec;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

article#home .container .row .col-lg button#getintouch:hover {
  color: #163e66;
  background-color: white;
}

article#home .container .row .col-lg button#getintouch:hover .fa {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

/*
// 
#landing {
    
    background-color: $background-color1;
    color: white;
    height: 100vh;
    text-align: left;

    .mask {
        height: 100vh;
    }
    
    #hipart {
        //border: solid blue;
        z-index: 999;
        text-align: center;
        padding: 25vh 150px;
        @media screen and (orientation: portrait) {
            margin-top: 150px;
            margin-top: 50%;
            padding: 0;
        }
        @media screen and (orientation: landscape) {
            
            padding: 25vh 50px;
        }


        #imwill {
            color: $titleonbackground;
            font-weight: normal;
            padding: 0;
            
        }
    
        #webdev {
            color: $titleonbackground;
            font-weight: 100;
            
            padding: 0;
            
        }
    }

    

 


/* --------- part with buttons ------------------------------


    .mb-5 {

        display: inline-block;
        margin: 25px 0 0 0;

        /* --------- text ------------------------------

        

        /* --------- get in touch ------------------------------
    
        #btn1 {
            // layout
            width: 140px;
            height: 40px;
            //style
            background-color: rgba(0,0,0,0);
            border-radius: 25px;
            border: solid $titleonbackground;
            transition: all ease-in-out .2s;
            // font
            color: white;
            font-size: 1.2rem;
            font-weight: 400; 
            

            
            // responsiveness

            //adjusting width on small screens
            @media (max-width: 600px) {
                width: 40vw;
            }

            // adjusting margin 
            margin-top: 90%;
            @media screen and (orientation: portrait) {
                margin-top: 70%;
            }
            @media screen and (orientation: landscape) {
                margin-top: 10%;
            }
        }
        
        #btn1:hover {
            color: $first-color;
            background-color: $background-color1;

            .fa {
                transition: .3s;
                transform: rotateZ(90deg);
            }

            
        }

        #btn1:focus {
            box-shadow: none;
            
        }

        

       
    
        
    }

}


*/
#about .container {
  margin-top: 100px;
  margin-bottom: 70px;
}

#about .container #titlerow {
  border: solid red;
}

#about .container #photoandservicerow {
  border: solid red;
}

#about .container #photoandservicerow #photocol {
  border: solid red;
}

#about .container #photoandservicerow #servicecol {
  border: solid red;
}

#about .container #photoandservicerow #servicecol .row {
  border: solid red;
}

#about .container #photoandservicerow #servicecol .row .col {
  border: solid red;
}

#about .container #aboutrow {
  height: 300px;
  border: solid red;
  overflow-y: scroll;
}

/*// self closing div for spacing
    #about {
        //background-color: $background-color2;
        
    }

    //section
    #aboutsection {
        min-height: 100vh;
        background-color: $background-color2;
        


        #aboutdiv {
            position: relative;
            #textabout {
                font-weight: normal;
                color: $first-color;
            }
            .underlined::after {
                content: "";
                position: absolute;
                top: 95%;
                height: 5px;
                width: 90px;
                background-color:$first-color;
                animation-name: tracing;
                animation-duration: .5s;
            }
            @keyframes tracing {
                from {width: 0px}
                to {width: 90px;
                }
            }
        }
        
        

        #whoiamdiv {

            #whoiamsquare {
                position: absolute;
                height: 150px;
                width: 150px;
                background-color: $first-color;
            }

            #textwhoiam {
                //layout
                position: relative;
                top: 0%;
                
                padding: 25px;

                //style
                color: $first-color;
            }

            
            
    
            .animated {
                animation-name: appearing;
                animation-duration: .5s;
                animation-delay: .2s;
                animation-fill-mode: forwards;
            }

            @keyframes appearing {
                from {left: -500%}
                90% {
                    transform: skew(30deg)
                }
                to {left: 0%;
                    transform: skew(0deg);}
            }
        }
        

        #infos {
            #willpiccol{

            }
            #infotextcol{
                p {
                    //layout
                    
                    height: 200px;
                    padding: 20px;
                    margin-top: auto;
        
                    //style
                    
                    
                    //animation
                    
                }
            }
            
            .infoappears {
                opacity: 0;
                animation: fadeinanim ease 1s;
                animation-delay: .8s;
                animation-fill-mode: forwards;
                
            }

            @keyframes fadeinanim {
                from {opacity: 0;}
                to {opacity: 1;}
            }
    
        }

        #whatidodiv {
            #textwhatido {
                //layout
                position: relative;
                top: 0%;
                left: -500%;
                padding: 25px;
                
                //style
                color: $first-color;
                
            }
    
            .animated {
                animation-name: appearing2;
                animation-duration: .5s;
                animation-delay: .2s;
                animation-fill-mode: forwards;
                
            }

            @keyframes appearing2 {
                from {left: -500%;
                    }
                
                90% {
                    transform: skew(30deg)
                }
               
                to {left: 0%;
                    transform: skew(0deg);
                }
            }

            .animated {
                left: 0%;
            }
            
        }

        
               
        

    }
   
 
/* --------Responsive design--------------------------*/
/*
// -------- Pic and textbox 

    
        @media (min-width: 576px) {
            
        }

        @media (min-width: 768px) {
            
        }

        @media (min-width: 992px) {
            
            
        }

        @media (min-width: 1200px) {
            
            #beforewhatido {
                height: 160px;
            }
            // textbox
            #aboutsection {
                #infos {
                    #willpiccol {
                        #willpicdiv {
                            img {
                                
                                height: 350px;
                                width: 350px;
                                
                            }
                            
                        }

                        
                    }
                    #infotextcol{
                        
                        position: relative;
                        p {
                            //layout
                            width: 600px;
                           
                            

                            //style
                            
                        }
                    }
                }
            }




        }
       
*/
#portfolio .container {
  margin-top: 100px;
  margin-bottom: 70px;
}

#portfoliotitlep2 {
  color: #ececec;
}

.card {
  width: 420px;
  height: 420px;
}

@media (max-width: 900px) {
  .card {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 570px) {
  .card {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 380px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .card {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 300px) {
  .card {
    width: 180px;
    height: 180px;
  }
}

.card .card-img-overlay {
  background: rgba(240, 240, 240, 0.6);
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 44, 236, 0.4)), color-stop(20%, rgba(1, 44, 236, 0.4)), to(rgba(1, 44, 236, 0.4)));
  background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4) 20%, rgba(1, 44, 236, 0.4) 100%);
}

@media (hover: hover) and (pointer: fine) {
  .card .card-img-overlay {
    background: #020024;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 44, 236, 0.4)), color-stop(20%, rgba(1, 44, 236, 0.4)), to(rgba(1, 44, 236, 0.4)));
    background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4) 20%, rgba(1, 44, 236, 0.4) 100%);
  }
}

.card .card-body {
  top: -100%;
}

@media (hover: hover) and (pointer: fine) {
  .card .card-body {
    top: -100%;
  }
}

@media (max-width: 300px) {
  .card .card-body {
    font-size: .7rem;
    margin: 0;
  }
}

.card .card-body .card-subtitle {
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .card .card-body .card-subtitle {
    margin-bottom: 50px;
  }
}

@media (min-width: 900px) {
  .card .card-body .card-subtitle {
    margin-bottom: 100px;
  }
}

@media (max-width: 300px) {
  .card .card-body .btn {
    font-size: .5rem;
    height: 20px;
    padding: 0;
    margin: 0;
  }
}

.card::before {
  top: 120%;
}

.card:hover::before {
  top: 0%;
}

.card:hover .card-body {
  top: 0px;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .card-body {
    top: 10px;
  }
}

.card {
  position: relative;
}

.card .card-body {
  z-index: 2;
  left: 0;
  width: 100%;
  padding: 20px 20px 0 20px;
  position: absolute;
}

.card .card-body .btn {
  width: 150px;
}

.card::before {
  position: absolute;
  content: "";
  width: 160%;
  height: 220%;
  z-index: 1;
}

.card {
  border-radius: 12%;
  overflow: hidden;
  border: none;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 44, 236, 0.4)), color-stop(20%, rgba(1, 44, 236, 0.4)), to(rgba(1, 44, 236, 0.4)));
  background: linear-gradient(0deg, rgba(1, 44, 236, 0.4) 0%, rgba(1, 44, 236, 0.4) 20%, rgba(1, 44, 236, 0.4) 100%);
}

.card .card-body {
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-body .card-title {
  font-size: 1.8rem;
  color: #163e66;
  text-align: center;
}

.card .card-body .card-subtitle {
  color: #4072a3;
}

.card .card-body .card-text {
  color: #163e66;
  font-size: 1rem;
  text-align: center;
}

.card .card-body .btn {
  font-size: 1.1rem;
  background-color: #163e66;
  border: solid #163e66 thin;
  color: #ececec;
}

.card .card-body .btn:hover {
  background-color: white;
  color: #163e66;
  border: solid #ffffff thin;
}

.card::before {
  background: rgba(240, 240, 240, 0.7);
  -webkit-transform-origin: center top 0;
          transform-origin: center top 0;
  -webkit-transition: .5s;
  transition: .5s;
}

/* --------- contact section------------------------------*/
a {
  text-decoration: none;
}

#revellipse {
  background-color: #163e66;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  min-height: 80vh;
}

#contact #contacttext {
  padding-top: 75px;
}

#contact #contact-form-row .contact-form .form-control {
  margin: -5px;
  width: 50vw;
  border: none;
  border-radius: 0%;
  border-bottom: solid black thin;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 750px) {
  #contact #contact-form-row .contact-form .form-control {
    width: 80vw;
  }
}

#contact #contact-form-row .contact-form .form-control:focus {
  -webkit-transform: scale3d(120%, 120%, 120%);
          transform: scale3d(120%, 120%, 120%);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #4072a3;
}

#contact #contact-form-row .contact-form .submit {
  border: none;
  border-radius: 25px;
  background-color: #4072a3;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

#footer {
  min-height: 15vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00A166;
}

#footer #social-row a {
  color: black;
}

.display-1 {
  color: #ececec;
}

#nav-bar {
  z-index: 100000;
}

#variablecontainer {
  overflow-y: hidden;
  height: 100vh;
  position: relative;
}

article.visible {
  height: 100vh;
  overflow-y: scroll;
  -webkit-transform: perspective(1500px);
          transform: perspective(1500px);
}

article.visible .container {
  -webkit-animation-name: test;
          animation-name: test;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

@-webkit-keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#home {
  display: none;
}

#about {
  display: none;
}

#portfolio {
  display: none;
}

#contact {
  display: none;
}

#home.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about.visible {
  display: block;
}

#portfolio.visible {
  display: block;
}

#contact.visible {
  display: block;
}
/*# sourceMappingURL=style.css.map */