html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*
colors for test
#041425
#163e66
#0c2b4b
#255a8e
#5694d0
#040406
#1876d4


*/
.spacingdiv {
  height: 10vh;
}

/* --------- NAVBAR SECTION------------------------------*/
#nav-bar {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  z-index: 1999;
  width: 100%;
  -webkit-box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
          box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
}

#nav-bar nav #navcontainer #will {
  font-family: 'Satisfy', cursive;
}

#nav-bar nav #navcontainer button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink {
  position: relative;
  overflow: hidden;
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  text-align: center;
  z-index: 2000;
}

@media (min-width: 575px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
    padding: 0 25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 150%;
    height: 0%;
    z-index: 1;
    -webkit-transition: .6s;
    transition: .6s;
  }
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link:hover::before {
    height: 100%;
  }
}

#nav-bar {
  height: 70px;
  padding: 20px;
}

#nav-bar nav #navcontainer #will {
  color: white;
}

#nav-bar nav #navcontainer button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  color: white;
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

#nav-bar.sticky {
  height: 50px;
  padding: 0px;
  background-color: white;
}

#nav-bar.sticky nav #navcontainer {
  background-color: white;
}

#nav-bar.sticky nav #navcontainer #will {
  color: #163e66;
}

#nav-bar.sticky nav #navcontainer button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 62, 102, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link {
  color: #163e66;
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  #nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link::before {
    background-color: rgba(26, 62, 102, 0.2);
  }
  #nav-bar.sticky nav #navcontainer .navbar-collapse .navbar-nav .divlink .nav-link:hover::before {
    height: 100%;
  }
}

/*
#nav-bar {
    background-color: none;//$background-color1;
    
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 5px;
    
    
    
    

    .navbar-toggler{
        border: none;
        border-radius: 0%;
        

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
    
    .navbar-toggler:hover{
        border: none;
        border-radius: 0%;
        color: $titleonbackground;
    }

    .navbar-toggler:focus {
        box-shadow: none;


    }
}


.divlink {
    position: relative;
    width: 80px;
    text-align: center;
    font-size: 1.1rem;
    margin: auto;
    
    .nav-link {
        overflow: hidden;
        position: relative;
       
        
        @media (min-width: 575px) {
            padding: 0 15px 0 15px;
            
        }

        z-index: 2;
        
        
    }
    
    .nav-link::before {
        //layout
        content: "";
        position: absolute;
        width: 150%;
        height: 0%;
        bottom: 0px;
        left: -15px;
    
        //style
        background-color: $background-color1;
        transition: all ease-in-out .25s;
        
        z-index: -1;
        
    
    }
    
    .nav-link:hover::before {
        //layout
        
        @media (min-width: 575px) {
            height: 15%;
            
        }
        
        
    }

    
}



#will {
    color: $titleonbackground;
    font-family: 'Satisfy', cursive;
}


// when nav is in sticky mode 

nav.sticky {
    background-color: $background-color1;
    height: ;
    nav.sticky.nav-link {
        color: $first-color;
        
    }

    #will {
        color: $first-color;
        
    }
    
    
} 

*/
.animation-area {
  background: -webkit-gradient(linear, right top, left top, from(#8942a8), to(#ba382f));
  background: linear-gradient(to left, #8942a8, #ba382f);
  width: 0;
  height: 0;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: #163e66;
  opacity: .5;
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

#landing {
  background-color: white;
  color: white;
  height: 100vh;
  text-align: left;
  /* --------- part with buttons ------------------------------*/
}

#landing .mask {
  height: 100vh;
}

#landing #hipart {
  z-index: 999;
  text-align: center;
  padding: 25vh 150px;
}

@media screen and (orientation: portrait) {
  #landing #hipart {
    margin-top: 150px;
    margin-top: 50%;
    padding: 0;
  }
}

@media screen and (orientation: landscape) {
  #landing #hipart {
    padding: 25vh 50px;
  }
}

#landing #hipart #imwill {
  color: #ececec;
  font-weight: normal;
  padding: 0;
}

#landing #hipart #webdev {
  color: #ececec;
  font-weight: 100;
  padding: 0;
}

#landing .mb-5 {
  display: inline-block;
  margin: 25px 0 0 0;
  /* --------- text ------------------------------*/
  /* --------- get in touch ------------------------------*/
  /* -------- dl portfolio ------------------------------*/
}

#landing .mb-5 #btn1 {
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: solid #ececec;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 90%;
}

@media (max-width: 600px) {
  #landing .mb-5 #btn1 {
    width: 40vw;
  }
}

@media screen and (orientation: portrait) {
  #landing .mb-5 #btn1 {
    margin-top: 70%;
  }
}

@media screen and (orientation: landscape) {
  #landing .mb-5 #btn1 {
    margin-top: 10%;
  }
}

#landing .mb-5 #btn1:hover {
  color: #163e66;
  background-color: white;
}

#landing .mb-5 #btn1:hover .fa {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

#landing .mb-5 #btn1:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#landing .mb-5 #btn2 {
  width: 220px;
  height: 40px;
  margin: 0 15px 0 0;
  background-color: #fff;
  border-radius: 25px;
  border-color: #fff;
  border: none;
  color: #5694d0;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (orientation: portrait) {
  #landing .mb-5 #btn2 {
    display: none;
  }
}

@media (max-width: 600px) {
  #landing .mb-5 #btn2 {
    width: 90vw;
  }
}

#about {
  background-color: rgba(198, 228, 255, 0.2);
}

#aboutsection {
  min-height: 100vh;
  background-color: rgba(198, 228, 255, 0.2);
}

#aboutsection #aboutdiv {
  position: relative;
}

#aboutsection #aboutdiv #textabout {
  font-weight: normal;
  color: #163e66;
}

#aboutsection #aboutdiv .underlined::after {
  content: "";
  position: absolute;
  top: 95%;
  height: 5px;
  width: 90px;
  background-color: #163e66;
  -webkit-animation-name: tracing;
          animation-name: tracing;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@-webkit-keyframes tracing {
  from {
    width: 0px;
  }
  to {
    width: 90px;
  }
}

@keyframes tracing {
  from {
    width: 0px;
  }
  to {
    width: 90px;
  }
}

#aboutsection #whoiamdiv #whoiamsquare {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #163e66;
}

#aboutsection #whoiamdiv #textwhoiam {
  position: relative;
  top: 0%;
  padding: 25px;
  color: #163e66;
}

#aboutsection #whoiamdiv .animated {
  -webkit-animation-name: appearing;
          animation-name: appearing;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appearing {
  from {
    left: -500%;
  }
  90% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  to {
    left: 0%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes appearing {
  from {
    left: -500%;
  }
  90% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  to {
    left: 0%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

#aboutsection #infos #infotextcol p {
  height: 200px;
  padding: 20px;
  margin-top: auto;
}

#aboutsection #infos .infoappears {
  opacity: 0;
  -webkit-animation: fadeinanim ease 1s;
          animation: fadeinanim ease 1s;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeinanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#aboutsection #whatidodiv #textwhatido {
  position: relative;
  top: 0%;
  left: -500%;
  padding: 25px;
  color: #163e66;
}

#aboutsection #whatidodiv .animated {
  -webkit-animation-name: appearing2;
          animation-name: appearing2;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appearing2 {
  from {
    left: -500%;
  }
  90% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  to {
    left: 0%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes appearing2 {
  from {
    left: -500%;
  }
  90% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  to {
    left: 0%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

#aboutsection #whatidodiv .animated {
  left: 0%;
}

/* --------Responsive design--------------------------*/
@media (min-width: 1200px) {
  #beforewhatido {
    height: 160px;
  }
  #aboutsection #infos #willpiccol #willpicdiv img {
    height: 350px;
    width: 350px;
  }
  #aboutsection #infos #infotextcol {
    position: relative;
  }
  #aboutsection #infos #infotextcol p {
    width: 600px;
  }
}

/* --------- PROJECTS SECTION------------------------------*/
#projects {
  background-color: #163e66;
  padding-bottom: 150px;
}

#textbeforeprojects {
  text-align: center;
}

#textbeforeprojects .display-1 {
  color: #163e66;
  font-weight: bolder;
}

.card {
  width: 420px;
  height: 420px;
}

@media (max-width: 900px) {
  .card {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 570px) {
  .card {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 380px) {
  .card {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 360px) {
  .card {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 300px) {
  .card {
    width: 180px;
    height: 180px;
  }
}

.card .card-img-overlay {
  background: rgba(0, 0, 0, 0.6);
}

@media (hover: hover) and (pointer: fine) {
  .card .card-img-overlay {
    background: #020024;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 160, 178, 0.4)), color-stop(20%, rgba(16, 160, 178, 0.4)), to(rgba(16, 160, 178, 0.4)));
    background: linear-gradient(0deg, rgba(16, 160, 178, 0.4) 0%, rgba(16, 160, 178, 0.4) 20%, rgba(16, 160, 178, 0.4) 100%);
  }
}

@media (hover: hover) and (pointer: fine) {
  .card .card-body {
    top: -100%;
  }
}

@media (max-width: 300px) {
  .card .card-body {
    font-size: .7rem;
    margin: 0;
  }
}

@media (min-width: 570px) {
  .card .card-body .card-text {
    margin-top: 40px;
  }
}

@media screen and (orientation: portrait) {
  .card .card-body .card-text {
    display: none;
  }
}

@media (max-width: 300px) {
  .card .card-body .btn {
    font-size: .5rem;
    height: 20px;
    padding: 0;
    margin: 0;
  }
}

.card::before {
  top: 120%;
  /*@media (hover: hover) and (pointer: fine){
        top: 120%;
    }*/
}

@media (hover: hover) and (pointer: fine) {
  .card:hover::before {
    top: 0%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .card-body {
    top: 40px;
  }
}

.card {
  position: relative;
}

.card .card-body {
  z-index: 2;
  left: 0;
  width: 100%;
  padding: 20px 20px 0 20px;
  position: absolute;
}

.card::before {
  position: absolute;
  content: "";
  width: 160%;
  height: 220%;
  z-index: 1;
}

.card {
  border-radius: 0%;
  overflow: hidden;
  border: none;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 160, 178, 0.4)), color-stop(20%, rgba(16, 160, 178, 0.4)), to(rgba(16, 160, 178, 0.4)));
  background: linear-gradient(0deg, rgba(16, 160, 178, 0.4) 0%, rgba(16, 160, 178, 0.4) 20%, rgba(16, 160, 178, 0.4) 100%);
}

.card .card-body {
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .card-body .card-title {
  font-size: 1.8rem;
  color: silver;
}

.card .card-body .card-subtitle {
  color: #dadada;
}

.card .card-body .card-text {
  color: silver;
  font-size: 1.2rem;
}

.card::before {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: center top 0;
          transform-origin: center top 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .card-body .btn {
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  border: solid #163e66 thin;
  color: silver;
}

@media (min-width: 570px) {
  .card .card-body .btn {
    margin-top: 40px;
  }
}

.card .card-body .btn:hover {
  border: solid #ffffff thin;
}

.card .card-img-top {
  border-radius: 0%;
}

/* --------- contact section------------------------------*/
a {
  text-decoration: none;
}

#revellipse {
  background-color: #163e66;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  min-height: 80vh;
}

#contact #contacttext {
  padding-top: 75px;
}

#contact #contact-form-row .contact-form .form-control {
  margin: -5px;
  width: 50vw;
  border: none;
  border-radius: 0%;
  border-bottom: solid black thin;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 750px) {
  #contact #contact-form-row .contact-form .form-control {
    width: 80vw;
  }
}

#contact #contact-form-row .contact-form .form-control:focus {
  -webkit-transform: scale3d(120%, 120%, 120%);
          transform: scale3d(120%, 120%, 120%);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #5694d0;
}

#contact #contact-form-row .contact-form .submit {
  border: none;
  border-radius: 25px;
  background-color: #5694d0;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

#footer {
  min-height: 15vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00A166;
}

#footer #social-row a {
  color: black;
}
/*# sourceMappingURL=style.css.map */