html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@import "./navbar";


@import "./presentation";





/* --------- PROJECTS SECTION------------------------------*/

//-------- whole div ----------------------------------

#projects {
    background-color: #00A166;
    
}

// ---------The title --------------------------------

#textbeforeprojects {
    text-align: center;
    .display-1 {
    color: white;
    font-weight: bolder;
    }


}

//---------- Cards ---------------------------------



.card {
    border-radius: 0%;
    border: none;
    position: relative;
    overflow: hidden;
    color: black;
    width: 420px;
    height: 420px;

    //900px or less
    @media (max-width: 900px) {
        width: 400px;
        height: 400px;
    }
    //570px or less
    @media (max-width: 570px) {
        width: 350px;
        height: 350px;
    }
    //450px or less
    @media (max-width: 450px) {
        width: 300px;
        height: 350px;
    }

    //375px or less
    @media (max-width: 380px) {
        width: 260px;
        height: 310px;
    }

    //360px or less
    @media (max-width: 360px) {
        width: 240px;
        height: 290px;
    }

    //300px or less
    @media (max-width: 300px) {
        width: 180px;
        height: 230px;
    }

    .card-body {
        //layout
        border-radius: 0%;
        width: 100%;
        padding: 0 20px ;
        position: absolute;
        
        //style
        color: #fff;
        left: 0;
        z-index: 2;
        transition: .5s;

        top: 10%;
        
        .card-title {
            font-size: 1.8rem;
            color: silver;                        
        }

        .card-subtitle {
            color:rgba(218, 218, 218, 1)
        }

        .card-text {
            color: silver;
            @media (min-width: 570px) {
                margin-top: 40px;
            }
            font-size: 1.2rem
        }
        
        .btn {
            @media (min-width: 570px) {
                margin-top: 40px;
            }
            
            font-size: 1.1rem;
            background-color: rgba(0,0,0,0);
            border: solid #00A166 thin;
            color: silver;
        }

        .btn:hover {
            border: solid #ffffff thin;
        }
        top: -100%;
        @media (hover: hover) and (pointer: fine) {
            top: -100%;
            
        }

        @media (max-width: 300px) {
            font-size: .7rem;
            margin: 0;
            .btn {
                font-size: .6rem;
                height: 20px;
                padding: 0;
                margin: 0;
            }
        }
        
    }
    
    .card-img-top {
        border-radius: 0%;
    }

    .card-img-overlay {
        content: "";
        background: rgba(0, 0, 0, 0.8);
        @media (hover: hover) and (pointer: fine) {
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(16,160,178,.4) 0%, rgba(16,160,178,.4)20%, rgba(16,160,178,.4) 100%);     }
        }
        background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(16,160,178,.4) 0%, rgba(16,160,178,.4)20%, rgba(16,160,178,.4) 100%);     
}

.card::before{
    position: absolute;
    content: "";
    width: 160%;
    height: 220%;
    background: rgba(0, 0, 0, 0.7);
    top: 120%;
    
    z-index: 1;
    transform-origin: center top 0;
    transition: .5s;
}

.card:hover::before{
    top: 0%;
}


.card:hover .card-body {
    top: 40px;
    
    
}

#projects {
    
    
    padding: 5vh;
}




/* --------- contact section------------------------------*/

#revellipse {
    
    background-color: #00A166;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    

    
}


    
    
    
    #work {
        
        min-height: 100vh;
        

        #social-row{
            
        }
        #contact-form-row {
            

            .contact-form {
                
                .form-control {
                    //layout
                    margin: -5px;
                    width: 50vw;
                    @media (max-width: 750px) {
                        width: 80vw;
                    }
                    
                    //style
                    border: none;
                    border-radius: 0%;
                    border-bottom: solid black thin;
                    transition: all .2s ease-in-out;
                    

                }

                .form-control:focus{
                    transform: scale3d(110%, 110%, 110%);
                    box-shadow: none;
                    transition: all .2s ease-in-out;
                    color: #a1003b;
                }

                .submit {
                    border: none;
                    border-radius: 25px; 
                    background-color: #a1003b ;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: bold;  
                }
            }

        }
    }

    #sectionellipse {
        
    }

    #footer {
        
        height: 10vh;
        background-color: #00A166;
        
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }





